// without options
{
    "plugins": ["remove-import-export"]
  }
   
  // with options
//   {
//     "plugins": [
//       ["remove-import-export", {
//         "removeImport": false,
//         "removeExport": false,
//         "removeExportDefault": false,
//         "preseveNamedDeclaration": false
//       }]
//     ]
//   }